@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

#nav-links a {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

#home-title h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  /* line-height: 50px; 113.636% */
}

#home-title p {
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#home-title button {
  flex-shrink: 0;
  border-radius: 10px;
  background: #0F52BA;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin: "5px"
}

#hero-section {
  flex-shrink: 0;
  background-color: #EF4136;
  background: linear-gradient(177deg, #EF4136 28.01%, #B5352C 100%);
}

#sec-2-title {
  color: #000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
}

#sec-2-stories-num {
  color: #EF4136;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#sec-2-explore-str {
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec-2-explore-story {
  width: 199px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(199deg, #EF4136 0%, #2B3990 100%);
}

#sec-2-explore-story span {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#profile-section {
  flex-shrink: 0;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 10px 40px 0px rgba(158, 158, 158, 0.19);
}

#profile-section span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec-3-content {
  flex-shrink: 0;
}

#sec-3-content #sec-3-h1 {
  color: #000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec-3-content p {
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#sec-3-content button {
  width: 199px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(199deg, #EF4136 0%, #2B3990 100%);
}

#sec-3-content span {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#section-4-title {
  height: 98px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#download-section span {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* #footer-section footer {
  background: #E9E9E9;
} */

#footer-links {
  padding-top: 10px;
}

#footer-links ul {
  padding: 25px;
}

#footer-links ul li {
  margin: 5px;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
}

#login-box {
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.13);
}

#login-wraper h1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#toggle-1,
#toggle-2 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#scan-qr-text {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


#login-icons-text span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signUp-sec-1 {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #D4D4D4;
  background: #FFF;
}

#signUp-sec-1 span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signin-phone-title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signin-phone-OtpText {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signin-phone-Resend {
  color: #0F52BA;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

#Send-otp-btn {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: linear-gradient(199deg, #EF4136 0%, #2B3990 100%);
}

#already-signup-text {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#register-text {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#register-welcome-text {
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 231px;
}

#progress-container {
  height: 1px;
  background-color: #ECECEC;
}

#progress-inner {
  height: 100%;
  background-color: #17C270;
}

#register-input-box {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
}

#faq-title-1{
  color: #000;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#faq-title-2{
  color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Change */
#photo-grid-container {
  grid-template-columns: repeat(5, 200px);
 
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar for .req-slide */




.custom-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  backdrop-filter: none; /* Remove blur */
  transition: backdrop-filter 0.3s ease; /* Optional transition effect */
}

#number-input::-webkit-inner-spin-button,
#number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#user-card {
  width: 100%; /* Set the desired width of your card */
  border-radius: 5px;
}

#user-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 3 equal columns */
  grid-gap: 5px; /* Add some space between grid items */
  list-style: none;
  padding: 0;
}

.profile-page-scroll {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Adjust as needed to accommodate your tab/header height */
}

.sliding-panel {
  transition: transform 0.5s;
  transform: translateX(400px);
}

.sliding-panel.open {
  transform: translateX(0);
}



/* Heart Animation  */

.heart-App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.heart-icon {
  height: 100px;
  width: 100px;
  background: url("/assests/animation/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
  
}

.heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  background: #0F52BA;
}

.heart-bg:hover {
  /* background: rgba(255, 192, 200, 0.7); */
  background: #0F52BA;
}

.likes-amount {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}

.heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.likes-amount.liked {
  color: red;
}



.verification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #00adef;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #00adef;
  animation: fill 0.4s ease-in-out 0.4s forwards;
}

.checkmark_stem {
  width: 15px;
  height: 30px;
  position: absolute;
  display: block;
  background-color: #00adef;
  top: 28px;
  left: 29px;
  animation: fill 0.4s ease-in-out 0.4s forwards;
}

.checkmark_kick {
  width: 5px;
  height: 9px;
  position: absolute;
  display: block;
  background-color: #00adef;
  top: 41px;
  left: 23px;
  animation: fill 0.4s ease-in-out 0.4s forwards;
}

@keyframes fill {
  0% {
    box-shadow: inset 0px 0px 0px transparent;
  }
  100% {
    box-shadow: inset 0px 0px 0px 40px #00adef;
  }
}

.verify-p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #00adef;
  animation: fade-in 0.5s ease-in-out 0.8s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

