@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

/* heart-bg */
:root {
  --blue: #0f52ba;
  --white: #ffffff;
  --gradient-color-1: #0F52BA;
  --gradient-color-2: #BA0FA9;
}

#bg-grad-color-faq{
  background: linear-gradient(103deg, rgba(15, 82, 186, 0.1) -25.03%, rgba(186, 15, 169, 0.1) 137.92%);

}

#active-reg-tab {
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
}

#grad-button{
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
  color: white;
}
#grad-bg{
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);

}

#grad-text{
  color: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
}

#landing-navigation-bg {
  background: linear-gradient(92deg, #0F52BA 17.13%, #8225AF 117.79%);
}

#landingPage-background {
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
}



#addstories-btn {
  border: 1px solid linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
}

#grad-btn {
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
}

#active-no {
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
  color: white;
}

#pagination-count {
  background: white;
  color: black;
}



#pagination-count:hover {
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
  color: white;
}

#req-sent {
  background: #EDEDED;
}

#ignore-hover {
  fill: none;
}


#nav-links a {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

#home-title h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  /* line-height: 50px; 113.636% */
}

#home-title p {
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#home-title button {
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffffff;
  color: #0F52BA;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin: "5px"
}

#home-title button:hover {
  opacity: 0.90;
}

#hero-section {
  flex-shrink: 0;
  background-color: #EF4136;
  background: linear-gradient(177deg, #EF4136 28.01%, #B5352C 100%);
}

#sec-2-title {
  color: #000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
}

#sec-2-stories-num {
  color: #0F52BA;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#sec-2-explore-str {
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec-2-explore-story {
  width: 199px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
}

#sec-2-explore-story span {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#profile-section {
  flex-shrink: 0;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 10px 40px 0px rgba(158, 158, 158, 0.19);
}

#profile-section span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec-3-content {
  flex-shrink: 0;
}

#sec-3-content #sec-3-h1 {
  color: #000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec-3-content p {
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#sec-3-content button {
  width: 199px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
}

#sec-3-content span {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#section-4-title {
  height: 98px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#download-section span {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* #footer-section footer {
  background: #E9E9E9;
  ::we
} */

#footer-links {
  padding-top: 10px;
}

#footer-links ul {
  padding: 25px;
}

#footer-links ul li {
  margin: 5px;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
}

#login-box {
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  border: 1px solid #E2E2E2;

  ;
}

@media screen and (min-width: 960px) and (max-width: 1345px) {
  #login-flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #login-image {
    display: none;
  }

  #login-box {
    position: relative;
    top: -60;
    right: 0;
  }
}

#login-wraper h1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#toggle-1,
#toggle-2 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#scan-qr-text {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


#login-icons-text span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signUp-sec-1 {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #D4D4D4;
  background: #FFF;
}

#signUp-sec-1 span {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signin-phone-title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signin-phone-OtpText {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#signin-phone-Resend {
  color: #0F52BA;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

#Send-otp-btn {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: linear-gradient(199deg, #EF4136 0%, #2B3990 100%);
}

#already-signup-text {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#register-text {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#register-welcome-text {
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 231px;
}

#progress-container {
  height: 1px;
  background-color: #ECECEC;
}

#progress-inner {
  height: 100%;
  background-color: #17C270;
}

#register-input-box {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
}

#faq-title-1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#faq-title-2 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Change */
#photo-grid-container {
  grid-template-columns: repeat(5, 200px);

}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar for .req-slide */




.custom-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0);
  /* Transparent background */
  backdrop-filter: none;
  /* Remove blur */
  transition: backdrop-filter 0.3s ease;
  /* Optional transition effect */
}

#number-input::-webkit-inner-spin-button,
#number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#user-card {
  width: 100%;
  /* Set the desired width of your card */
  border-radius: 5px;
}

#user-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Create 3 equal columns */
  grid-gap: 5px;
  /* Add some space between grid items */
  list-style: none;
  padding: 0;
}

.profile-page-scroll {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  /* Adjust as needed to accommodate your tab/header height */
}

.sliding-panel {
  transition: transform 0.5s;
  transform: translateX(400px);
}

.sliding-panel.open {
  transform: translateX(0);
}



/* Heart Animation  */

.heart-App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon {
  height: 100px;
  width: 100px;
  background: url("/assests/animation/heart-Animation-3.png");
  background-position: left;
  cursor: pointer;
  position: absolute;

}

.heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  background: linear-gradient(103deg, var(--gradient-color-1) -25.03%, var(--gradient-color-2) 137.92%);
  /* background: white; */

}


.heart-bg:hover {
  /* background: rgba(255, 192, 200, 0.7); */
  /* background: #0F52BA; */
}

.likes-amount {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}

.heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.likes-amount.liked {
  color: red;
}



.verification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #00adef;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #00adef;
  animation: fill 0.4s ease-in-out 0.4s forwards;
}

.checkmark_stem {
  width: 15px;
  height: 30px;
  position: absolute;
  display: block;
  background-color: #00adef;
  top: 28px;
  left: 29px;
  animation: fill 0.4s ease-in-out 0.4s forwards;
}

.checkmark_kick {
  width: 5px;
  height: 9px;
  position: absolute;
  display: block;
  background-color: #00adef;
  top: 41px;
  left: 23px;
  animation: fill 0.4s ease-in-out 0.4s forwards;
}

@keyframes fill {
  0% {
    box-shadow: inset 0px 0px 0px transparent;
  }

  100% {
    box-shadow: inset 0px 0px 0px 40px #00adef;
  }
}

.verify-p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #00adef;
  animation: fade-in 0.5s ease-in-out 0.8s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Customize the height and width of pagination bullets */
.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 12px;
  /* Set the desired width */
  height: 12px;
  /* Set the desired height */
  background-color: #D6D6D6;
  opacity: 0.50;
  position: relative;
  top: -5px;
}

/* Customize the active pagination bullet */
.swiper-pagination-clickable .swiper-pagination-bullet-active {
  width: 12px;
  /* Set the desired width for the active bullet */
  height: 12px;
  /* Set the desired height for the active bullet */
  background-color: #007aff;
  /* Customize background color for active bullet */
}

.image-selection-container {
  display: flex;
}

.left-section {
  display: flex;
  flex-direction: column;
}

.left-section img {
  opacity: 0.1;
  cursor: pointer;
}

.left-section img.selected {
  opacity: 1;
}

.right-section img {
  max-width: 100%;
}

/* styles.module.css */

/* Define the breakpoint for medium screens */
@media (max-width: 768px) {
  .expanded-sidebar {
    /* Style for expanded sidebar on medium screens */
  }

  .collapsed-sidebar {
    /* Style for collapsed sidebar on medium screens */
    width: 64px;
    /* You can adjust this as needed */
  }
}

#nearby-places-main {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.03);
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
  outline: none;
}

/* login-box */
@media (orientation: portrait) {
  #main-login-box {
    display: grid;
    height: 100%;
    margin-top: 50%;
    width: 100%;
    place-items: center;
  }
}

@media (max-width: 370px) {

  #story-img {
    width: 100%;
    border-radius: 10px;
  }

  #story-img-background {
    width: 100%;
  }
}

#PriceBox2 {
  display: none;
}

#PriceBox {
  display: block;
}

@media screen and (max-width: 930px) {
  #PriceBox2 {
    display: block;
  }

  #PriceBox {
    display: none;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    top: 0px;
    margin-top: 20px;
  }

  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 0px;
    margin-top: 90px;
  }
}

@media screen and (min-width: 1430px) {
  #doItText {
    position: absolute;
    right: -280px;
  }

  #pricing-box {
    margin-top: 50px;
  }

  #centerlized-content {
    position: relative;
    left: -40px;
  }

  #main-centerlized-content {
    display: grid;
    place-items: center;
    padding-left: 0;
    margin-left: 0;
  }

  #story-centerlized-content {
    position: relative;
    left: -45px;
  }

  #main-centerlized-content #first-child {
    padding-left: 0;

  }

  #id-search-centerlized {
    margin-left: 75px;
  }
}


@media screen and (max-width: 929px) and (min-width: 720px) {
  #pricebox-2-main {
    position: relative;
    left: 100px;
  }
}


@media screen and (min-width: 1429px) and (max-width: 1500px) {
  #id-search-centerlized {
    position: absolute;
    left: 20.70%;
  }
  
}

@media screen and (min-width: 1501px) and (max-width: 1525px) {
  #id-search-centerlized {
    position: absolute;
    left: 21.20%;
  }
}

@media screen and (min-width: 1560px) {
  #id-search-centerlized {
    position: absolute;
    left: 24.60%;
  }
}


@media (min-width: 1430px) and (max-width: 1530px) {

  /* Your CSS styles for this range go here */
  #doItText {
    position: absolute;
    right: -27%;
  }

  /* Add more styles as needed */
}


@media screen and (min-width: 1555px) {

  /* Your styles for screens 1555 pixels and wider go here */
  #landingPage-content {
    padding-bottom: 170px;
  }

}

@media screen and (min-width: 1640px) {

  /* Your styles for screens 1555 pixels and wider go here */
  #landingPage-content {
    padding-bottom: 200px;
  }

}


@media screen and (width: 1280px) and (height: 720px) {
  #pricing-box {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  #doItText {
    position: absolute;
    right: -27%;
  }

  #upgrade-bg-img {
    margin-top: 50px;
  }
}


@media screen and (width: 1440px) and (height: 900px) {
  #doItText {
    position: absolute;
    right: -26%;
  }
}

@media screen and (min-width: 1037px) and (max-width: 1139px) {

  #landingPage-content {
    padding-bottom: 140px;
  }
}


@media only screen and (min-width: 960px) and (max-width: 1139px) {

  #story-section-center {
    left: -5px;
  }

}

.user-card.skeleton {
  background: #e2e2e2;
  color: transparent;
  position: relative;
  overflow: hidden;
}

.user-card.skeleton::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  height: 100%;
  width: 50px;
  background: linear-gradient(to right, #e2e2e2 25%, #d5d5d5 50%, #e2e2e2 100%);
  animation-name: gradient-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: blur(5px);
}

.user-card.skeleton .hide-text::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  height: 100%;
  width: 50px;
  background: linear-gradient(to right, #e2e2e2 25%, #d5d5d5 50%, #e2e2e2 100%);
  animation-name: gradient-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: blur(5px);
}

@keyframes gradient-animation {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}



#gradient-text-login {
  background: linear-gradient(103deg, #0F52BA 23.51%, #8225AF 72.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
